.p{
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Raleway', sans-serif; 
  }

  .container {
    position: relative;
    text-align: center;
  }
  .centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 